@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*,
*::before,
*::after{
  box-sizing: border-box;
}

*{
  margin:0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

:root{
  --main__color--blue: #5757ce;
  --main__color--grey: #e2dddda1;
  --main__color--light--blue: #e7ecec;
  --sub__color--box--light--blue:#d5d5eb;

  --font__color-white:#fff;
  --font__color-black:#000;
  --font__color-grey:rgb(106, 108, 114);
}

/* utility class */

.container{
  width:90%;
  margin-inline:auto;
}

@media (max-width:790px){

  /* nav */

  .nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 0;
  }

  .nav__logo{
    font-size:2rem;
  }

  .nav__container--bar{
    transform: rotate(180deg);
  }

  /* nav ends */

  /* hero starts */

  .hero{
    background-color: var(--main__color--blue);
  }

  .hero__container{
    display:flex;
    flex-wrap: wrap;
    align-items: center;

  }

  .hero__info{
    flex:2;
    align-self: stretch;
    padding:3rem 0;
    color:var(--font__color-white)
  }

  .hero__title{
    max-width:16ch;
    line-height: 1.5;
    margin:1rem 0;
    font-size:2.2rem;
    letter-spacing: .1rem;
  }

  .hero__descrip{
    max-width: 26.7ch;
    line-height: 1.5;
    font-size: 1.2rem;
  }

  .hero__btn{
    text-decoration: none;
    color:var(--main__color--blue);
    background-color: var(--font__color-white);
    padding:1rem 0;
    display:inline-block;
    font-size: 1.5rem;
    width:80%;
    border-radius: 11px;
    text-align: center;
    margin-top:1rem;
  }

  .hero__img{
    flex:1;
    padding:3rem 0;
  }
  .hero__img-blue-box{
    width:240px;
  }

  /* hero ends */

  /* request starts */

  .request__title{
    margin:3rem auto;
    font-size:2rem;
    letter-spacing: -.1rem;
    font-weight: 500;
  }

  .card{
    background-color: var(--main__color--light--blue);
    padding:2rem;
    margin:6rem auto 3rem;
  }

  .card__sort{
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
    height:60px;
  }

  .card__sort__title{
    background-color: var(--sub__color--box--light--blue);
    padding:.5rem 1rem;
    border-radius: 7px;
    font-size: 1rem;
    color:var(--main__color--blue);
    font-weight:700;
    text-transform: capitalize;
    letter-spacing: -.02rem;
  }

  .card__shadow{
    position:absoulte;
    width:95px;
    height:11px;
    background-color: #d3d3d3;
    transform:translate(530px, -20px);
    border-radius:100%;
    z-index:2;
  }

  .card__sort__pinkbox{
    width:150px;
    transform: translateY(-120px);
    position:relative;
  }

  .card__info__title{
    font-size:2rem;
    letter-spacing: -.1rem;
  }
  .card_info__invite{
    font-size:1.2rem;
    font-weight: 400;
    line-height: 1.5;
  }

  .card__info__gift--info{
    font-size:1.2rem;
    font-weight: 400;
    margin-top:1rem;
  }

  .card__info__gift--name{
    font-size:1.5rem;
    font-weight: 500;
    line-height: 1.5;
  }

  .card__progress{
    display:flex;
    gap:4rem;
    margin:1rem 0;
  }

  .card__progress__first-container{
    line-height: 1.5;
  }

  .first-container__goal{
    font-size:1.2rem;
    font-weight: 500;
  }

  .first-container__money{
    font-size:1.2rem;
    color:orangered;
    font-weight: 600;
  }

  .card__progress__second-container{
    line-height: 1.5;
    font-weight:500;
  }

  .second-container__charity{
    font-size:1.2rem;
  }

  .second-container__percentage{
    font-size:1.2rem;
    font-weight:600;
  }

  .card__due-date{
    font-weight: 400;
    font-size: 1.2rem;
  }
  .card__date{
    font-weight: 700;
  }

  /* ad start  */
  .ad{
    height:200px;
    background: no-repeat url('/ad__ad.png') center / contain;
  }

  /* ad ends */

  /* footer starts */
  .footer{
    margin-top:2.2rem;
    background-color: var(--sub__color--box--light--blue);
    padding:1rem 0;
  }

  .footer__info{
    line-height: 1.7;
  }

  .footer__logo{
    height:2.5rem;
  }

  .footer__email{
    color:var(--font__color-grey);
    font-weight: 500;
  }

  .footer__number{
    color:var(--font__color-grey);
    font-weight: 500;
    margin-bottom:1rem;
  }

  .footer__terms{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1rem 2rem;
    gap:1rem;
    text-transform: capitalize;
    border-top:rgb(206, 206, 206) 1px solid;
    font-size: 1rem;
    letter-spacing: .02rem;
  }

}