@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*,
*::before,
*::after{
  box-sizing: border-box;
}

*{
  margin:0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

:root{
  --main__color--blue: #5757ce;
  --main__color--grey: #e2dddda1;
  --main__color--light--blue: #c6e7e6;

  --font__color-white:#fff;
  --font__color-black:#000;
}

/* utility class */

.container{
  width:90%;
  margin-inline:auto;
}

@media (max-width:790px){

  /* nav */

  .nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 0;
  }

  .nav__logo{
    font-size:2rem;
  }

  /* nav ends */

  /* hero starts */

  .hero{
    background-color: var(--main__color--blue);
  }

  .hero__container{
    display:flex;
    flex-wrap: wrap;
    align-items: center;

  }

  .hero__info{
    flex:2;
    align-self: stretch;
    padding:3rem 0;
    color:var(--font__color-white)
  }

  .hero__title{
    max-width:16ch;
    line-height: 1.5;
    margin:1rem 0;
    font-size:2.2rem;
    letter-spacing: .1rem;
  }

  .hero__descrip{
    max-width: 26.7ch;
    line-height: 1.5;
    font-size: 1.2rem;
  }

  .hero__btn{
    text-decoration: none;
    color:var(--main__color--blue);
    background-color: var(--font__color-white);
    padding:1rem 0;
    display:inline-block;
    font-size: 1.5rem;
    width:80%;
    border-radius: 11px;
    text-align: center;
    margin-top:1rem;
  }

  .hero__img{
    flex:1;

    padding:3rem 0;
  }
  .hero__img-blue-box{
    width:200px;
  }

  /* hero ends */
}